@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body{
    font-family: "Open Sans", sans-serif;
}

        *{
            margin: 0;
            padding: 0;
        }
        .navBar1{ 
         height: 40px;
         background: #050C1B linear-gradient(90deg, #050C1B, #1A4055 15%, #1A4055 35%, #050C1B 50%);
        }
        .navBar1Left{
            position: absolute;
            top: 44px;
            right: 161px;
            margin-top: -38px;
            border: 2px solid black;
            color: white;
        }

        .contactLogin{
            display: flex;
        }

        .innerLoginContact{
            margin-left: 25px;
            list-style-type: none;
        }
        .innerLogin12{
            color: white;
             text-decoration: none;
        }

        .innerLogin12.One{
                border-right: 2px solid;
                padding-right: 19px;
            }

        #third{
            background-color: #068932;
            color: white;
            border-radius: 4px;
            width: 77px;
        }

        .leftEl{  
            width: 125px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .entryContent{
            height: 430px;
            /* border: 2px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to bottom, white, #E8F6ED);
            /* opacity: 0.3; */
        }

        .entryContainer{
            height: 50%;
            width: 80%;
            /* border: 2px solid black; */
            font-size: 25px;
        }

        .entryContainer>p{
            text-align: center;
            font-size: 20px;
            width: 817px;
            margin-left: 201px;
            margin-top: 60px;
            color: grey;
        }
        
        .pricingBox{
            height: 600px;
            /* border: 2px solid blue; */
            display: flex;
            justify-content: center;
        }

        .innerPricingBox{
            width: 80%;
            height: 100%;
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            position: absolute;
            top: 437px;
   
        }

        .innerBoxes{
            width: 40%;
            height: 100%;
            border: 1px solid #efefef;
            border-radius: 10px;
            margin-right: 33px;
        }

        /* .topBox{
            height: 18%;
            width: 100%;
            border: 2px solid green;
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            margin-top: 12px;
        } */

        .firstInnerBox{
            height: 17%;
            width: 100%;
            /* border: 2px solid #1A4055; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 10px;
        }

        .seconInnerBox{
            height: 30%;
            width: 100%;
            border-bottom: 1px solid #c7b9b9;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .thirdInnerBox{
            height: 27%;
            width: 100%;
            /* border: 2px solid green; */
            display: flex;
           justify-content: center;
           align-items: end;
        }

        .firstInnerBox>h1{
            font-size: 27px;
        }

        .firstDiv{
            /* border: 2px solid red; */
            width: 72%;
            height: 43%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .secondDiv{
            /* border: 2px solid blueviolet; */
            width: 72%;
            height: 30%;
            display: flex;
            font-size: 23px;
            justify-content: center;
            align-items: center;
         }

        .firstSubDiv{
            width: 80%;
            height: 75%;
            /* border:2px solid yellowgreen; */
            font-size: 50px;
            text-align: center;
        }

        .seconSubDiv{
            width: 80%;
            height: 18%;
            /* border:2px solid aquamarine; */
            text-align: center;
            color: #068932;
        }
        

        .listofThirdInner{
            height: 80%;
            width: 80%;
            /* border: 2px solid firebrick; */
            display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-around;
        }

        .innerPara{
            height: 16%;
            width: 92%;
            /* border: 2px solid black; */
            display: flex;
        }

        .innerPara>img{
            /* border:2px solid red; */
            height: 86%;
            width: 12%;
        }

        .innerPara>p{
            font-size: 13px;
        }
        
        .thirdInnerBoxThree{
            height: 50%;
            width: 100%;
            /* border: 2px solid green; */
            display: flex;
           justify-content: center;
           align-items: center;
           background-color: #E8FEED;
        }

        .listOfLastBox{
            height: 80%;
            width: 80%;
            /* border: 2px solid red; */
            display: flex;
    flex-direction: column;
    justify-content: space-around;
        }

        .listOfLastBox>.innerPara{
            height: 9%;
            width: 92%;
            /* border: 2px solid black; */
            margin-left: 8px;
        }

        .secondDiv>a{
            background-color: black;
    color: white;
    text-decoration: none;
    padding: 11px;
    padding: 14px 40px;
    border-radius: 5px;
        }

        #thirdB{
            background-color: #E8FEED;
        }

        .comparePlans{
            height: 200px;
            /* border: 2px solid black; */
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .comparePlansHeading{
            height: 10%;
            width: 15%;
            /* border: 2px solid black; */
            text-align: center;
            text-decoration: underline;
        }

        .WhatisIncluded{
            /* border: 2px solid black; */
            height: 1000px;
            display: flex;
    flex-direction: column;
    align-items: center;
        }

        .headingPart{
            height: 15%;
            /* border: 2px solid black; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .headingPart span{
            color: #068932;
        }

        .insideOfWhatisIncluded{
            width: 90%;
            height: 80%;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mostInnerDiv{
            width: 50%;
            height: 95%;
            /* border: 2px solid black; */
            /* display: flex; */
        }

        .twoInnerDiv{
            width: 100%;
            height: 50%;
            /* border: 2px solid black; */
            display: flex;
            justify-content: space-around;
        }

        .subInnerDivs{
            width: 47%;
            height: 92%;
            /* border: 2px solid black; */
        }

        .contentDiv1{
            height: 20%;
            width: 100%;
            /* border: 2px solid black; */
        }

        .contentDiv2{
            height: 15%;
            width: 100%;
            /* border: 2px solid black; */
        }

        .contentDiv3{
            height: 63%;
            width: 100%;
            /* border: 2px solid black; */
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
        }

        .paraDiv{
            margin-bottom: 8px;
            font-size: 14px;
            padding-left: 40px;
        }

        .tableDiv{
            /* border: 2px solid black; */
            height: 1500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table{
            width: 80%;
            height: 90%;
            border: 2px solid red;
        }
        th,td,tr{
            /* border: 2px solid black; */
            text-align: left;
            color: black;
        }

        thead{
            font-size: 20px;
        }

        tr,td{
            border-bottom: 2px solid grey;
        }

        .frequentlyAskedQuestions{
            height: 80px;
            width: 100%;
            /* border: 2px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .InsideBoxOfFrequent{
            height: 800px;
            width: 100%;
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .SubFreqBox{
            height: 100%;
            width: 75%;
            /* border: 2px solid blue; */
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .h3Box{
            display: flex;
            justify-content: space-between;
            /* border: 2px solid greenyellow; */
        }

        .paraFreq{
            /* border: 2px solid green; */
        }

        .Fpara{
            margin-top: 12px;
        }

        .SubParaFreq{
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }

        .firstDiv>h1{
            font-size: 35px;
        }

        .innerPara>p{
            margin-left: 5px;
        }