@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
header .header-top{
    height: 7vh;
    background: linear-gradient(to right, #050C1B, #1A4055 15%, #1A4055 35%, #050C1B 50%);
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: center; 
    gap: 0.9rem;
}
.header-top p{
    color: rgb(172, 166, 166);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header-top a{
    color: rgb(172, 166, 166);
    text-decoration: none;
    font-size: 1.2rem;
}
.header-top a:visited {
    color: rgb(172, 166, 166);
    text-decoration: none;
}
.right{
    padding-right: 20rem;
}
.menu{
    display: flex;
    padding: 1rem 12rem;
    gap: 5rem;
    margin: auto;
}
.menu img{
    height: 2vh;
    width: 10%;
    margin-right: 10px;
}
.menu a{
    font-weight: 700;
}

.menu .space{
    padding-left: 1rem;
}



 .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: linear-gradient(rgba(253, 254, 255, 0.4) 0%, rgba(205, 237, 247, 0.1) 50%, rgba(173, 216, 230, 0.4) 100%);
}

.hero .content {
    text-align: center;
    color: black ;
}

.hero .content h1 {
    font-size: 5rem; 
    font-weight: 900;
    color: rgb(57, 51, 51) 
}
.hero .content a {
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color:white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.hero .content a.green {
    background-color: green; 
    border-color: green; 
    padding: 1rem 3rem;
    margin-right: 1rem; 
}

.hero .content p {
    margin-top: 1.25rem;
    font-size: 1.225rem;
    color: rgb(121, 113, 113);
}

.hero .content .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.hero .content .logo img {
    height: 4rem; 
    width: 6rem; 
    margin: 0 1rem;
}
.Second {
    text-align: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Second .lightgreen{
    color: green;
}

.Second h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.Second p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: rgb(121, 113, 113);
}

.links{
    display: flex;
    flex-direction: row;
    gap: 15rem;
    color: rgb(64, 56, 56);
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 3rem;
}
.Second a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.container {
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #111621;
    font-size: 1.2em;
    height: 60vh;
    width: 80%;
    margin: 1rem auto;
}

.container .content {
    flex: 1;
}

.container h3 {
    color: white;
    font-size: xx-large;
    margin-bottom: 1rem; 
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
}
.container .content p{
    display: flex;
    align-items: flex-start;
}

.container .white {
    color: white;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 2rem; 
}

.container button {
    padding: 1rem 3rem;
    background-color: #111621;
    color: white;
    border: 1px solid gray;
    margin-bottom: 2rem; 
    display: flex;
    align-items: flex-start;
}

.container img {
    width: 50%; 
    margin-left: 5rem; 
}

/* .coding{
    padding: 2rem 6rem;
    display: flex;
    align-items: flex-start;
    position: relative;
   flex-direction: column; 
} */

.coding{
    display: flex;
    height: 60vh;
    padding: 5rem 0 5rem 6rem;
}
.coding .content{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}
.coding .content h2{
    font-weight: 400;
    line-height: 4rem;
    padding-left: 3rem;
}
.coding .content p{
    padding-left: 3rem;
}
.coding .content img {
    max-width: 100%;
    width: 90%;
    margin-top: 1.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: opacity 0.3s ease-in-out; 
}

.coding .content img:hover {
    opacity: 0.5; 
}

.coding .content img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0,0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.coding .content img:hover::after {
    background: rgba(0, 0, 0, 0.851); 
    opacity: 1; 
}
/* .binary{
    display: flex;
    height: 60vh;
    padding: 25rem 0 5rem 15rem;
}
.binary h2{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.binary p{
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 2rem;
    line-height: 2rem;
}
.binary a{
    font-weight: 900;
    color: black;
} */
.binary {
    display: flex;
    height: 60vh;
    padding: 25rem 15rem 5rem 15rem; 
    position: relative; 
}

.binary > div {
    flex: 1; 
    margin-right: 2rem; 
}

.binary h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.binary p {
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 2rem;
    line-height: 2rem;
}

.binary a {
    font-weight: 900;
    color: black;
}

.binary img:last-child {
    position: absolute;
    top: 18rem;
    right: 6rem;
    width: 40%;
    height: 60vh;
    /* animation: slideInFromRight 3s ease-in-out infinite;  */
}

/* @keyframes slideInFromRight {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(0); 
    }
} */

.Focus {
    display: flex;
    height: 60vh;
    padding: 5rem 15rem 5rem 15rem; /* Adjusted top padding */
    position: relative;
}

.Focus > div {
    flex: 1;
    margin-right: 2rem;
}

.Focus h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.Focus p {
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 2rem;
    line-height: 2rem;
}

.Focus a {
    font-weight: 900;
    color: black;
}

.Focus img:last-child {
    position: absolute;
    top: 2rem; 
    right: 6rem;
    width: 40%;
    height: 60vh;
    /* animation: slideInFromRight 3s ease-in-out infinite; */
}
/* 
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
} */
.Contenders {
    display: flex;
    height: 60vh;
    padding: 5rem 15rem 5rem 15rem; /* Adjusted top padding */
    position: relative;
}

.Contenders > div {
    flex: 1;
    margin-right: 2rem;
}

.Contenders h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.Contenders p {
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 2rem;
    line-height: 2rem;
}

.Contenders a {
    font-weight: 900;
    color: black;
}

.Contenders img:last-child {
    position: absolute;
    top: 2rem; 
    right: 6rem;
    width: 40%;
    height: 60vh;
    /* animation: slideInFromRight 3s ease-in-out infinite; */
}

/* @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
} */
.interviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.interviews p,h1{
    padding-bottom: 2rem;
}
.interviews h1{
    font-size: 3rem;
}
.interviews span{
    color: green;
}
.interviews p{
    font-size: 1.2rem;
    color: gray;
    padding-bottom: 2rem;
    line-height: 2rem;
}
.interviews button{
    background-color: darkgreen;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: 700;
    border:1px solid darkgreen;
    border-radius: 5%;
}
.interviews .tools{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.interviews .tools img {
    height: auto;
    vertical-align: middle;
    max-width: calc(100%/7);
}

.interviews .last-image{
    margin-top: 36px;
    text-align: center;
    position: relative;
   
}
.interviews .last-image img{
    max-width: 1084px;
    width: 100%;
}
.about{
    margin: 0 auto;
    max-width: 1180px;
}
.about .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}